.controler{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.controlGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div h1{
  font-size: 30px;
}

i{
  width:100%;
  height:100%;
}
button i{
  font-size: 30px;
}
.controlButton{
  margin: 5%;
  text-align: center;
  vertical-align: middle;
}

.fa-solid{
  font-size: auto;
}

.leftControlPanel{
  display: grid;
  grid-template-rows: 65% 20%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: center;
}
