.controler{
    display: none;
    grid-template-columns: 1fr 3fr 1fr;
}

.controlGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

i{
  width:100%;
  height:100%;
}
button i{
  font-size: 30px;
}
#animateScene{
  background-color: rgba(255, 255, 255, 0);
}

.controlButton{
  margin: 5%;
  text-align: center;
  vertical-align: middle;
}

.fa-solid{
  font-size: auto;
}

.leftControlPanel{
  display: grid;
  grid-template-rows: 65% 20%;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  text-align: center;
}

.loadingScreen{
  z-index: -1;
}

.loadingText{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  text-shadow: 0 0 20px black;
}
h3 a{
  color: #e60202;
}
.loader {
  position:absolute;
  left: 40%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e60202; /* Blue */
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.textLoading{
  position:absolute;
  top: 150%;
  left: 40%;
}

#backgroundVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#backgroundVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#endScreen{
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  text-shadow: 0 0 20px black;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  border-radius: 25px;
}

#startScreen{
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  text-shadow: 0 0 20px black;
  z-index: 6;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  border-radius: 25px;
}

#warningScreen{
  display:none;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e60202;
  font-size: 30px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  z-index: 6;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

#rightInfoScreen{
  padding: 10%;
}

#leftInfoScreen{
  padding-top: 10%;
}

#soundOn{
  display: none;
}

#soundOff{
  display: none;
}
